* {
  margin: 0;
  padding: 0;
  text-align: center;
}
.container {
  min-height: 500px;
}

/* ---------Home Styles */


/* --------NavBar Styles */


/* ------JobsPage Styles */


/*---Profile Page Styles */


/* --------Footer Styles */

